body {
   font-family: "Monaco", "Consolas", "Courier New", monospace;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    padding-top: 70px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #667eea;
}

.tombol-menu {
    padding: 10px 20px;
    margin-left: 10px;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #764ba2;
}

.tombol-menu:hover {
    background: #e0e0e0;
}


.kotak {
    max-width: 1000px;
    margin: 20px auto;
    padding: 45px;
    background: white;
    border-radius: 30px;
}


h1 {
    color: #667eea;
    text-align: center;
}

.tombol-game {
    background: rgb(249, 212, 212);
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(222, 0, 0, 0.1);
    display: inline-block;
    width: 200px;
    transition: transform 0.2s;
}

.tombol-game:hover {
    transform: scale(1.05);
}


.emoji-besar {
    font-size: 3em;
}


.tombol {
    background: #667eea;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

.tombol:hover {
    background: #764ba2;
}

.kotak-soal {
    background: #667eea;
    color: white;
    padding: 25px;
    border-radius: 15px;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
}

.skor {
    font-size: 1.5em;
    color: #764ba2;
    text-align: center;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 15px 0;
}

.input-jawaban {
    padding: 15px;
    font-size: 1.3em;
    border: 3px solid #667eea;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.kartu {
    background: #667eea;
    color: white;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    cursor: pointer;
}

.kartu.buka {
    background: white;
    color: #764ba2;
    border: 3px solid #764ba2;
}

.footer {
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.footer p {
    color: #764ba2;
    margin: 5px;
}
